<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Free Bootstrap Error Template</title>
    <style type="text/css">
        body {
            font-family: 'Nova Flat', cursive;
            background-color: #B396FF;
            color: #fff;
        }

        .pad-top {
            padding-top: 60px;
        }

        .text-center {
            text-align: center;
        }

        #error-link {
            font-size: 150px;
            padding: 10px;
        }


    </style>
</head>
<body>

<div class="container">

    <div class="row pad-top text-center">
        <div class="col-md-6 col-md-offset-3 text-center">
            <span id="error-link">404</span>
            <h2>页面错误</h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <h3><i class="fa fa-lightbulb-o fa-5x"></i></h3>
            <a href="/" class="btn btn-primary">回到首页</a>
        </div>
    </div>
</div>
</body>
</html>
