{% extends 'home/base.html' %}
{% load i18n static %}
{% block content %}
    <style>

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0;
            padding: 0;
        }

        #myTab li {
            width: 25%;
            float: left;
            height: 40px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #myTab li img {
            float: left;
            height: 40px;
            width: auto;
        }

        #myTab li a {
            color: white;
            text-align: center;
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        .blue {
            background: #0f9af2;
        }

        .gray {
            background: #dfdfdf;
        }

        .tabPaneUl {
            width: 700px;
            margin: 0 auto;
            list-style: none;
        }

        .tabPaneUl li {
            height: 40px;
            line-height: 40px;
        }

        .tab-pane {
            margin-top: 50px;
        }
    </style>
    <div class="container">
        <div style="margin-top: 50px;">
            <ul id="myTab" role="tablist">
                <li id="step1Li" class="active blue">
                    <a href="javascript:void(0);" role="tab" data-toggle="tab">
                        1.确认邮箱
                    </a>
                </li>
                <li id="step2Li" class="gray">
                    <img id="step2Img" src="{% static 'home/images/blue_gray.png' %}"/>
                    <a href="javascript:void(0);" role="tab" data-toggle="tab">
                        2.发送邮箱验证码
                    </a>
                </li>
                <li id="step3Li" class="gray">
                    <img id="step3Img" src="{% static 'home/images/gray_gray.png' %}"/>
                    <a href="javascript:void(0);" role="tab" data-toggle="tab">
                        3.确认验证码，输入新密码
                    </a>
                </li>
                <li id="step4Li" class="gray">
                    <img id="step4Img" src="{% static 'home/images/gray_gray.png' %}"/>
                    <a href="javascript:void(0);" role="tab" data-toggle="tab">
                        4.成功
                    </a>
                </li>
            </ul>
            <div style="clear:both;"></div>
            <div id="myTabContent" class="tab-content" style="margin-bottom: 300px;">
                <div id="step_12" class="tab-pane fade in active">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2">邮箱地址：</label>
                            <input type="email" name="reset_password_email" class="form-control"
                                   placeholder="请输入注册邮箱地址">
                        </div>
                        <button type="button" class="btn check-email" style="background-color: #0da3fa;color: #F0F0EE;">
                            点击验证
                        </button>
                        <button type="button" class="btn send-email"
                                style="background-color: #0da3fa;color: #F0F0EE;display: none;">
                            发送验证码
                        </button>
                        <span class="step_12_msg" style="color: red;"></span>
                    </form>
                </div>
                <div id="step_3" class="tab-pane fade">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2">邮箱验证码：</label>
                            <input type="number" maxlength="6" name="reset_password_code" class="form-control"
                                   placeholder="请输入注册邮箱验证码">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">新密码：</label>
                            <input type="password" name="reset_password_new" class="form-control"
                                   placeholder="请输入新密码">
                        </div>
                        <button type="button" class="btn reset-password"
                                style="background-color: #0da3fa;color: #F0F0EE;">
                            确认保存
                        </button>
                        <span class="step_3_msg" style="color: red;"></span>
                    </form>
                </div>
                <div id="step_4" class="tab-pane fade">
                    <div style="text-align: center;">
                        保存成功，请
                        <button type="button" class="btn"
                                style="background-color: #0da3fa;color: #F0F0EE;">
                            点击登录
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajavascript %}
    <script type="text/javascript">
        //事件操作
        var eventFun = {
            setStep: function (index) {
                for (var i = 2; i <= index; i++) {
                    $("#step" + i + "Li").addClass("blue").removeClass("gray");
                    $("#step" + i + "Img").attr("src", "{% static 'home/images/blue_blue.png' %}");
                }
                for (var i = index + 1; i <= 4; i++) {
                    $("#step" + i + "Li").addClass("gray").removeClass("blue");
                    $("#step" + i + "Img").attr("src", "{% static 'home/images/gray_gray.png' %}");
                }
                $("#step" + (index + 1) + "Img").attr("src", "{% static 'home/images/blue_gray.png' %}");
            }
        };

        $('input[name="reset_password_email"]').focus(function () {
            $('.step_12_msg').text('');
        });
        $('.check-email').click(function () {
            var email = $('input[name="reset_password_email"]').val();
            if (email === "") {
                $('.step_12_msg').text('请输入邮箱地址');
                return;
            }
            reset_password('check_email', {email: email})
        });

        $('.send-email').click(function () {
            var email = $('input[name="reset_password_email"]').val();
            if (email === "") {
                $('.step_12_msg').text('请输入邮箱地址');
                return;
            }
            reset_password('send_email', {email: email})
        });

        $('input[name="reset_password_code"],input[name="reset_password_new"]').focus(function () {
            $('.step_3_msg').text('');
        });

        $('.reset-password').click(function () {
            var code = $('input[name="reset_password_code"]').val();
            var password = $('input[name="reset_password_new"]').val();
            if (code === "") {
                $('.step_3_msg').text('请输入邮箱验证码');
                return;
            }
            if (password === '') {
                $('.step_3_msg').text('请输入新密码');
                return;
            }
            reset_password('reset_password', {code: code, password: password})
        });

        function reset_password(type, param) {
            param['type'] = type;
            $.post("{% url 'home.reset_password' %}", param, function (result) {
                if (result.code === 1) {
                    if (type === 'check_email') {
                        $('.check-email').hide();
                        $('input[name="reset_password_email"]').attr('readonly', '');
                        $('.send-email').show();
                        eventFun.setStep(2);
                    } else if (type === 'send_email') {
                        $('#step_12').removeClass('in active');
                        $('#step_3').addClass('in active');
                        eventFun.setStep(3);
                    } else if (type === 'reset_password') {
                        $('#step_3').removeClass('in active');
                        $('#step_4').addClass('in active');
                        eventFun.setStep(4);
                    }
                } else {
                    if (type === 'check_email' || type === 'send_email') {
                        $('.step_12_msg').text(result.msg);
                    } else if (type === 'reset_password') {
                        $('.step_3_msg').text(result.msg);
                    }
                }
            });
        }
    </script>
{% endblock %}