{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="layui-tab layui-tab-brief">
    <div class="layui-tab-content">
        <ul class="layui-tab-title">
            <li class=""><a href="{% url 'user_list' %}">后台用户列表</a></li>
            <li class=""><a href="{% url 'admin_user_add' %}">后台用户添加</a></li>
            <li class="layui-this">后台用户修改密码</li>
        </ul>
        <div class="layui-tab-item layui-show" style="margin-top: 10px">
            <input type="hidden" class="user_id" name="id" value="{{ user_info.id }}">
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="text" id="password" name="password" value="" required lay-verify="required"
                           placeholder="请输入新密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn submit-btn" lay-submit lay-filter="*">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajavascript %}
<script type="text/javascript">
    layui.use(['table', 'jquery'], function () {
        var table = layui.table,
            $ = layui.jquery;

        $('.submit-btn').click(function (result) {
            var user_id = $('.user_id').attr('value');
            var password = $('#password').val();
            $.post("{% url 'admin_user_change_password' %}", {user_id: user_id, password: password}, function (result) {
                if (result.code === 1) {
                    layer.alert(result.msg, function () {
                        window.location.href = "{% url 'user_list' %}";
                    });
                } else {
                    layer.alert(result.msg)
                }
            });
        });
    });
</script>
{% endblock %}