{% extends 'admin/admin_base.html' %}
{% block content %}

    <div class="layui-tab layui-tab-brief">
        <div class="layui-tab-content">
            <ul class="layui-tab-title">
                <li><a href="{% url 'manager_user' %}">用户列表</a></li>
                <li><a href="{% url 'register_user' %}">注册用户</a></li>
                <li><a href="{% url 'user_detail' %}?user_id={{ user_id }}" class="layui-this">详情</a></li>
            </ul>
            <div class="layui-form-item">
                <table class="layui-table">
                    <colgroup>
                        <col width="200">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>用户名：</th>
                        <th>{{ username }}</th>
                    </tr>
                    <tr>
                        <th>昵称：</th>
                        <th>{{ nickname }}</th>
                    </tr>
                    <tr>
                        <th>性别：</th>
                        <th>
                            {% if gender == 'male' %}
                                男
                            {% else %}
                                女
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>电话：</th>
                        <th>{{ phone }}</th>
                    </tr>
                    <tr>
                        <th>邮箱：</th>
                        <th>{{ email }}</th>
                    </tr>
                    <tr>
                        <th>最后登录时间：</th>
                        <th>{{ last_login|date:'Y-m-d H:i:s' }}</th>
                    </tr>
                    <tr>
                        <th>最后登陆IP：</th>
                        <th>{{ login_ip }}</th>
                    </tr>
                    <tr>
                        <th>状态：</th>
                        <th>{% if is_active == 0 %}
                            启用
                        {% else %}
                            禁用
                        {% endif %}</th>
                    </tr>
                    <tr>
                        <th>注册时间：</th>
                        <th>{{ create_at|date:"Y-m-d H:i:s" }}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}